@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono&display=swap');
@import './vars.scss';

body {
  //overflow: hidden;
  font-family: 'Roboto Condensed', 'Roboto';
}

.App {
  text-align: center;

  nav {
    height: 48px;
    background-color: $darkgrey;
    overflow: hidden;
    font-family: Roboto;
    position: relative;
    z-index: 10;
    box-shadow: 0px 0px 30px -10px #888;
    box-sizing: border-box;

    ul {
      list-style-type: none;
      margin: 0 20vw;
      width: 60vw;
      display: flex;
      flex-direction: row;
      padding: 0;

      li {
        display: inline-block;
        flex: 1;

        a {
          display: inline-block;
          line-height: 48px;
          cursor: pointer;
          flex: 1;
          width: 100%;
          outline: none;
          transition: background-color 0.3s ease-out;
          color: #fd7800;
          text-decoration: none;

          &:hover {
            background-color: rgba(0,0,0,.5);
          }

          &:active {
            transition-duration: 0s;
            background-color: rgba(0,0,0,1);
          }
        }

        span.title {
          color: white;
          font-size: 18px;
          line-height: 48px;
          font-family: 'Roboto Mono';
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
}

div.loading {
  display: flex;
  height: calc(100vh - 48px - 24px);
  flex-direction: column;
  justify-content: center;

  > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

div.updatedAt {
  height: 24px;
  overflow: hidden;
  background-color: $darkgrey;
  color: white;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  padding-right: 8px;
}