@import './vars.scss';

div.botInfo {
    max-width: 90vw;
    width: 360px;

    h1 {
    }
    span.type {
        color: #666;
        display: block;
        margin-bottom: 8px;
        margin-top: -20px;
    }
    div.buttons {
        display: flex;
        flex-direction: row;
        margin-top: 24px;
        justify-content: space-between;
        flex: 1;

        button, a.openScrapyard {
            border: 2px solid $orange;
            border-radius: 3px;
            background-color: white;
            cursor: pointer;
            color: $orange;
            display: flex;
            transition: background-color 0.3s, color 0.3s;
            font-family: Roboto;
            padding: 4px 16px;
            font-size: 1em;
            text-decoration: none;

            &:hover {
                background-color: $orange;
                color: white;
            }

            &:active {
                transition-duration: 0s;
                background-color: darken($orange, 10);
                border-color: darken($orange, 10);
            }
        }
        button {
            justify-self: flex-end;
        }
    }
    img.picture {
        display: block;
        width: 100%;
    }
}